/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
    height: 60vh;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #navbar{
    overflow: hidden;
    background-color: #36151E;
  }
  #navbar a{
      float: left;
      color: #EAFFFD;
      text-align: center;
      padding: 14px 16px;
      margin: 5px;
      margin-bottom: 0px;
      text-decoration: none;
      font-size: 17px;
  }
  
  #navbar a:hover {
      background-color: #846C5B;
      border-radius: 5px 5px 0px 0px;
  }
  
  #navbar a#active{
      background-color: #0B4F6C;
      margin: 5px;
      border-radius: 5px 5px 0px 0px;
      margin-bottom: 0px;
  }