<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Agenda Depa: Home</title>
</head>

<body>
    <navbar>
        <div id="navbar">
        <a id ="active" href="/">Home page</a>
        <a href="/apts">Departamentos disponibles</a>
        <a href="/map">Ubicaciones en mapa</a>
        </div>
    </navbar>

    <section class= "principal">
        <h1>Home Page</h1>
    </section>

    <h1> Propósito del proyecto:</h1>
    <p id = "descripcion"> Agenda depa es una página diseñada para que nuestros usuarios puedan encontrar un espacio 
        con base en las necesidades e intereses que tengan en común para compartir un espacio en confianza. 
        Estos también podrán poner la ubicación del departamento y las amenidades con las que cuenta el departamento para poder compartir el espacio.
    </p>
    <h1> Miembros del equipo:</h1>
    <div id = "members">
        <div class="member">
            <h2>Gabriela Jazmín Álvarez Espinoza</h2>
            <img src="img/GabrielaAlvarez.jfif">
            <p>A00825719</p>
            <a href="https://www.linkedin.com/in/gabrielaj-alvarez/">LinkedIn</a> 
            <a href="https://github.com/gabyjazzmin">github</a>
        </div>
        <div class="member">
            <h2>Brandan Aldair Jimenez Villarreal</h2>
            <img src="img/BrendanJimenez.jfif">
            <p>A00822969</p>
            <a href="https://www.linkedin.com/in/brandan-jimenez-1420391b5/">LinkedIn</a>
            <a href="https://github.com/BrandanJV">github</a>
        </div>
        <div class="member">
            <h2>Rafael E. Moreno Naranjo</h2>
            <img src="img/RafaelMoreno.jfif">
            <p>A01733158</p>
            <a href="https://www.linkedin.com/in/rafael-moreno-naranjo-407234175/">LinkedIn</a> 
            <a href="https://github.com/Rafaelmor2000">github</a>
        </div>
    </div> 

</body>
</html>