<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleMaps.css">
    <title>Agenda Depa: Mapa</title>
</head>

<navbar>
    <div id="navbar">
    <a id ="active" href="/">Home page</a>
    <a href="/apts">Departamentos disponibles</a>
    <a href="/map">Ubicaciones en mapa</a>
    </div>
</navbar>

<section class= "principal">
    <h1>Ubicaciones en Mapa</h1>
</section>

<div id="map"></div>
<section class="contact-container" id="contact">
    <h2 class="heading"> Contáctanos </h2>
    <form action="" class="contact-form" id="contact-form">
        <input type="text" placeholder="Nombre" class="name" required>
        <input type="email" placeholder="Correo" class="email" required>
        <textarea name="" id="" cols="30" rows="10"
            placeholder="Escribe aqui tus dudas acerca de nuestros departamerntos..." class="message"
            required></textarea>
        <input type="submit" value="Enviar" class="send-btn">
    </form>
</section>
<!--Script para Email -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
    emailjs.init('q7jJ-sTXQK0uyONCe')
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/scriptMaps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-UmQwzR49T_fzLTtV--KbweAViSykEjs&map_id=19d44d248a609478&callback=initMap">
    </script>

</body>
</html>