#map {
    height: 60vh;
    align-content: center;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    background-color:  #0B4F6C;
    height: 100%;
    margin: 0;
    padding: 0;

  }

  .principal {
    background-image: url("../img/depaNY.jpg");
    color:#EAFFFD;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeats;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    background-position: 0% 10%;
    font-size: 20px;
  }
h1{
  align-content: center;
}
  
h2{
  align-content: center;
}
  
  #navbar{
    overflow: hidden;
    background-color: #36151E;
    margin-bottom:5px;
  }
  #navbar a{
      float: left;
      color: #EAFFFD;
      text-align: center;
      padding: 14px 16px;
      margin: 5px;
      margin-bottom: 0px;
      text-decoration: none;
      font-size: 17px;
  }
  
  #navbar a:hover {
      background-color: #846C5B;
      border-radius: 5px 5px 0px 0px;
  }
  
  #navbar a#active{
      background-color: #0B4F6C;
      margin: 5px;
      border-radius: 5px 5px 0px 0px;
      margin-bottom: 0px;
  }

.contact-container{
  background-color:#EAFFFD;
  justify-content: center;
}

.contact-form{
  margin-bottom: 1.5em;
  display: block;
}

.name, .email, .message{
  display: block;
  box-shadow: none;
  border-radius: 0;
  border-color: #EAFFFD;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
}

.name, .email, .message::placeholder{
  color:#0B4F6C;
}
.send-btn{
  background:#EAFFFD;
  border:1px solid #aaa;
  border-radius:3px;
  font-size:lem;
  padding:10 50px;
  text-transform:uppercase;
  align-items: center;
}